<!-- 
<body>
  <h1>Welcome to Wanderlust</h1>
  <p>
    Your go-to platform for unique listings around the world. Find your dream
    destination here!
  </p>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Featured Listings</h3>
        <a href="/listings">Browse All Listings</a>
      </div>
    </div>
  </div>
</body> -->

<%- layout("layouts/boilerplate") %>

<h1>Welcome to Wanderlust!</h1>
<p>Explore amazing listings from all over the world.</p>

<a href="/listings" class="btn btn-primary">View Listings</a>
